.mediaViewInfo {
	--web-view-name: About Page;
	--web-view-id: About_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: About_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#About_Page {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: About Page;
	--web-view-id: About_Page;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_36 {
	position: absolute;
	width: 1920px;
	height: 1460px;
	left: 0px;
	top: -9px;
	overflow: visible;
}
#backround2_es {
	position: absolute;
	width: 1920px;
	height: 1287px;
	left: 0px;
	top: 173px;
	overflow: visible;
}
#Group_6_et {
	position: absolute;
	width: 1920px;
	height: 215px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1_eu {
	fill: rgba(252,71,30,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_eu {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 201px;
	left: 0px;
	top: 9px;
}
#Ellipse_1_ev {
	fill: rgba(255,255,255,1);
	stroke: rgba(55,54,54,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_ev {
	position: absolute;
	overflow: visible;
	width: 190px;
	height: 190px;
	left: 56px;
	top: 15px;
}
#n_16078C3-0711-4BDB-973D-D3EED_ew {
	position: absolute;
	width: 167px;
	height: 156px;
	left: 68px;
	top: 32px;
	overflow: visible;
}
#logo2_ex {
	position: absolute;
	width: 715px;
	height: 215px;
	left: 634px;
	top: 0px;
	overflow: visible;
}
#Home_ey {
	position: absolute;
	width: 156px;
	height: 80px;
	left: 1391px;
	top: 61px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Home_page.html;
	cursor: pointer;
}
#Rectangle_2_ez {
	fill: rgba(13,83,111,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_ez {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 174px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Home_e {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 22px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Bodoni 72;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(252,71,30,1);
}
#About_e {
	position: absolute;
	width: 152px;
	height: 80px;
	left: 1566px;
	top: 61px;
	overflow: visible;
}
#Rectangle_2_e {
	fill: rgba(13,83,111,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_e {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 170px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#About_fa {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Bodoni 72;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(252,71,30,1);
}
#Contact_e {
	position: absolute;
	width: 156px;
	height: 80px;
	left: 1737px;
	top: 61px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Contact.html;
	cursor: pointer;
}
#Rectangle_3_e {
	fill: rgba(13,83,111,1);
	stroke: rgba(107,109,110,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3_e {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 174px;
	height: 98px;
	left: 0px;
	top: 0px;
}
#Contact_fa {
	left: 6px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 140px;
	white-space: nowrap;
	text-align: left;
	font-family: Bodoni 72;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(252,71,30,1);
}
#Rectangle_35 {
	fill: rgba(13,83,111,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 1851px;
	height: 627px;
	left: 42px;
	top: 331px;
}
#Welcome_to_my_portfolio_webpag {
	left: 60px;
	top: 517px;
	position: absolute;
	overflow: visible;
	width: 1802px;
	white-space: nowrap;
	text-align: center;
	font-family: Bodoni 72;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: rgba(252,71,30,1);
}